[core]
	autocrlf = true
    editor = gvim
	excludesfile = C:\\Users\\joeki\\OneDrive\\Documents\\gitignore_global.txt
[alias]
    dt = difftool
    mt = mergetool
[merge]
    tool = gvimdiff
[mergetool]
    prompt = false
[diff]
	tool = gvimdiff
[difftool]
    prompt = false
